/* css styles for bot page */
p {
    margin: 0;
    padding: 0;
    border: 0;
}

p + p {
    margin-top: .5em;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
}

h1, h2, h3 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    padding-bottom: .2em;
}

h2 {
    font-size: 45px;
    margin-bottom: 0;
}

em {
    font-style: oblique;
}

code {
    font-weight: 400;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    padding: .05em .02em .02em;
}

#intro {
    padding-bottom: 2em;
}

#bottom {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 .5em;
    padding-top: 8em;
    padding-bottom: 8em;
}

#credits {
    padding-top:1em;
    padding-bottom: 1em;
    color: #fafafa;
    font-size: .9em;
    background-color: #212121;
    transform: skewY(0deg)!important;
}

#slack-screenshot {
    width: 100%;
    max-width: 550px;
}

.lionLink:link {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:visited {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:hover {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:active {
    color: #FF6F00;
    text-decoration: none;
}

.main-content {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 .5em;

}

.inline-block {
    display: inline-block;
    clear: none;
    vertical-align: middle;
}