/* css styles for bot page */
html, body, p {
    margin: 0;
    padding: 0;
    border: 0;
}

p + p {
    margin-top: .5em;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
}

h1, h2, h3 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    padding-bottom: .2em;
}

h1 {
    font-size: 60px;
    margin:0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    font-size: 45px;
    margin-bottom: 0;
}

em {
    font-style: oblique;
}

code {
    font-weight: 400;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    padding: .05em .02em .02em;
}

#header {
    margin-top: -5em;
    padding-top: 9em;
    padding-bottom: 2em;
    background-color: #e65100;
    color: #FFF;
    background-image: url(../imgs/lionbot_header.png);
    background-repeat: no-repeat;
    background-blend-mode:luminosity;
    background-position-x: -100px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.1);
}

#sample-wrap {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FFF;
}

#usage-wrap {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fafafa;
    background-image: linear-gradient(to right, #fafafa, rgba(250, 250, 250, 0.7)), url(../imgs/lionbot_header.png);
    background-position-x: 120%;
    background-repeat: no-repeat;
    background-blend-mode: normal, multiply;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.05);
    box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.01);

}

#bottom {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 .5em;
    padding-top: 8em;
    padding-bottom: 8em;
}

#credits {
    padding-top:1em;
    padding-bottom: 1em;
    color: #fafafa;
    font-size: .9em;
    background-color: #212121;
    transform: skewY(0deg)!important;
}

#slack-screenshot {
    width: 100%;
    max-width: 550px;
}

.lionLink:link {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:visited {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:hover {
    color: #FF6F00;
    text-decoration: none;
}
.lionLink:active {
    color: #FF6F00;
    text-decoration: none;
}

.main-content {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 .5em;
    transform: skewY(.5deg);

}

.inline-block {
    display: inline-block;
    clear: none;
    vertical-align: middle;
}